*{
    margin: 0;
    /*overflow-x: hidden;*/
}

li{
  list-style: none;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: Cronos;
    src:  local(Cronos), url(assets/fonts/cronos-pro-1.otf);
}

.top-menu{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #8c8c8c;
    padding: 2px;
    align-items: center;
    z-index: 100;
}
.top-menu img{
    margin-top: 10px;
    margin-left: 50px;
    padding-right: 10px;
    height: 25px;
    width: 75px;
    cursor: pointer;
}
.top-menu .top-list1{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
}
.top-menu .top-list1 li{
    margin: 0 10px;
}
.top-menu .top-list2{
    display: flex;
    margin-left: 30rem;
    justify-content: space-between;
    font-size: 14px;
}
.top-menu .top-list2 li{
    margin: 0 5px;
}
.top-menu li:hover{
    color: #ff0000;
    cursor: pointer;
}
select{
    background-color: rgba(0, 0, 0);
    color: #8c8c8c;
    border: none;
}
select:hover{
    color: #ff0000;
    cursor: pointer;
}
/*----------Navbar----------------*/
.inicio{
    height: 100vh;
    width: 100%;
}
.navbar{
    position: relative;
    background-color: #ffffff;
}
.navbar-fundo{
    position: absolute;
    top: 0;
    left: -330px;
    z-index: 0;
}
.navbar .logo{
    position: absolute;
    z-index: 1;
    width: 15rem;
    left: 6.5rem;
    top: 1.7rem;
}
.navbar .navbar-list{
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    top: 46px;
    left: 32rem;
    font-size: 22px;
    color: #ffffff;
}
.navbar li{
    font-family: Cronos;
}
.navbar li:hover{
    color: #daa520;
    cursor: pointer;
    
}


.navbar button{
    position: absolute;
    z-index: 100;
    top: 56px;
    right: 10rem;
    font-family: Cronos;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(180deg,#aa1817,#3e1209);
    padding: 6px 16px;
    cursor: pointer;
    border: none;
}
.navbar button:hover{
    background: linear-gradient(180deg,#f52b2b,#9c2e18);
    cursor: pointer;
}
.navbar .navbar-list li{
    margin: 10px;
}
/*---------------Showcase--------------------*/
.showcase{
    position: absolute;
    top: 43%;
    left: 2rem;
    display: flex;
    flex-direction: column;
}
.showcase h2{
    position: absolute;
    top: 130px;
    left: 150px;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 1.1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
.showcase p{
    position: absolute;
}
.showcase .p1{
    top: 210px;
    left: 150px;
    margin-bottom: 32px;
    color: #777;
    font-size: 20px;
    line-height: 1.1;
    font-family: Cronos;
    font-weight: normal;
}
.showcase .p2{
    position: absolute;
    top: 280px;
    left: 160px;
    font-size: 16px;
    margin-bottom: 32px;
    color: #ff0000;
    line-height: 1.1;
    z-index: 50;
    text-transform: uppercase;
    font-family: Cronos;
}
.showcase .leia-mais .p2 i{
    margin-left: 5px;
}

.showcase .leia-mais img{
    position: absolute;
    top: 240px;
    left: 90px;
    z-index: 10;
}
.img-showcase-rodape img{
   width: 95%;
   position: absolute;
   bottom: -80px;
}

/*---------News----------*/
.news{
    width: 100%;
    height: 980px;
}
.news h3{
    position: absolute;
    top: 800px;
    left: 215px;
    z-index: 50;
    text-transform: uppercase;
}

.news-list{
    position: relative;
    display: flex;
    top: 170px;
    margin-left: 170px;
}
.news-list .list-items .list-item{
    height: 120px;
}
.news-list .list-items .item, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
    position: absolute;
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
}
.news-list .list-items .item{
    top: 5px;
}
.news-list .list-items .item2{
    top: 125px;
}
.news-list .list-items .item3{
    top: 250px;
}
.news-list .list-items .item4{
    top: 370px;
}
.news-list .list-items .item5{
    top: 490px;
}
.news-list .list-items .item6{
    top: 610px;
}
.news-list .list-items .item7{
    top: 730px;
}
.news-list .list-items .item8{
    top: 850px;
}
.data{
    margin-right: 30px;
    align-content: center;
}
.dia{
    font-size: 26px;
}
.mes{
    font-size: 15px;
    color: #514e4c;
}
.palavra{
    margin-right: 250px;
}
.palavra h4{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #1c1c1c;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
.palavra li{
    margin-bottom: 5px;
    font-size: 14px;
    font-style: bold;
    color: #878787;
    font-family: 'Kumbh Sans', sans-serif;
}
.palavra a{
    margin-bottom: 5px;
    font-size: 14px;
    font-style: bold;
    color: #ff0000;
    font-family: Cronos;
}
.news-list .list-items .item img, .item2 img, .item3 img, .item4 img, .item5 img, .item6 img, .item7 img, .item8 img{
    margin-top: 10px;
    width: 10px;
    height: 15px;
}
.all-news a{
    color: #ff0000;
}
.card-list{
    position: relative;
}
.card{
   margin-bottom: 50px;
   margin-left: 40px;
}
.card-border1, .card-border2{
   width: 276px;
   height: 201px;
   box-shadow: .5px 3px 8px rgba(0, 0, 0, .5);
   padding: 0;
   cursor: pointer;
}
.card-border2{
    height: 235px; 
 }

.line-top{
    position: absolute;
    width: 276px;
    height: 5px;
    margin: 0;
    padding: 0;
}

.arrow{
    position: absolute;
    left: 610px;
    cursor: pointer;
}
.p-card-1{
    margin-top: 15px;
}
.card p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.card .p-card-2{
    margin-bottom: 10px;
}
.card p{
    margin-left: 10px;
}
.card a{
    margin-left: 10px;
    color: #ff0000;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 12px;
}